<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Prueva del sistema">
    <meta name="author" content="Froznar">
	
    <title>Hertzz Music</title>
	
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	
	<!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">

	<link rel="stylesheet" href="fonts/stylesheet.css">
	<link href="css/mb-comingsoon-iceberg.css" rel="stylesheet" />
	
	<!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
	<!-- jQuery and Modernizr-->
	
	<script src="js/modernizr.custom.97074.js"></script>
	<script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script type="text/javascript">
         function HertzzController($scope,$http) {
             
        	 $http.get("usuario", {params:{usuario: window.location.search.replace("?","")}}).success( function(response) {
            	 $scope.usuario = response;
              });
             $scope.BuscarUsuario = function(){
            	 $http.get("search_usuario", {params:{usuario: $scope.name_ro_cod_user}}).success( function(response) {
              	 $scope.Ubuscado = response;
                  });
        	 }
             $scope.MiMusica = function(){
            	 $scope.userpar = window.location.search.replace("?","");
            	 window.location.replace('/user.html?' + $scope.userpar);
             }
             
             $scope.BuscarMasUsuario = function(){
            	 $scope.userpar = window.location.search.replace("?","");
            	 
            	 window.location.replace('/usersearch.html?' + $scope.userpar + '!' + $scope.Ubuscado.Nombre_usuario);
             }
             $scope.BuscarCancion = function(){
            	 if($scope.btipo == 1){
            		 $http.get("canciones", {params: {cancion: $scope.eleccion}}).then( function(response) { //Funcion asincrona
                       	console.log($scope.eleccion);
            		    $scope.albumes = null;
            			$scope.canciones = response.data;
                  	 	console.log($scope.canciones[0]);
            		 });	 
            	 }
            	 else{
            		 $http.get("albumes", {params: {album: $scope.eleccion}}).then( function(response) { //Funcion asincrona
                      
            		 $scope.albumes = response.data;
            		 console.log($scope.albumes[0]);
                   	  $scope.canciones = null;
            		 });
            	 }
             }
             $http.get("top100Canciones").success( function(response) {
                 $scope.top100 = response.slice(0,100);
              });
             $http.get("top10Usuarios").success( function(response) {
                 $scope.top10 = response.slice(0,10);
              });
         }
      </script>
	
</head>
<body  ng-app="" ng-controller = "HertzzController">

<div class="container">
  <div class="row">
  	<div class="col-md-3 cent">
  		<img src="images/Hertzz.png" class="img-responsive" alt="Responsive image">
      <h4 class="titlefont">Hertzz Music</h4>
  	</div>
  	<div class="col-md-3 cent">
  		<br>
  		<br>
  		<br>
  		<input class="btn btn-default" type="submit" value="Mi música" ng-click = "MiMusica()">
  		
  	</div>
  	<div class="col-md-3 cent">
  	
  		<h4 class="titlefont">Seguidores</h4>
  	</div>
  	<div class="col-md-3 cent">
  		
  		<br>
  		<h2 class="titlefont">{{usuario.Nombre_usuario}}</h2>
  	</div>
  </div>
<div class="container">
  <div class="row">
  	<!-- 100 CANCIONES MAS ESCUCHADAS -->
    <div class="col-md-4 cent">
    	<h3 class="normalfont">100 canciones mas escuchadas de la semana</h3>
    	<table>
			<tr ng-repeat = "cancion in top100">
				 <td>{{ cancion.Nombre_Cancion }}</td><td> {{cancion.Reproducciones}}</td> 
			</tr>
		</table>
    </div>
    <!-- BUSCAR DE CONTENIDO -->
    <div class="col-md-4 cent">
  		<h3 class="normalfont">Busqueda de Musica</h3>
 		
 		<fieldset>
  		<label class="radio-inline"><input type="radio" ng-model="btipo" name="optradio" ng-value="1"/>Canción</label>
		<label class="radio-inline"><input type="radio" ng-model="btipo" name="optradio" ng-value="2"/>Album</label>
		  		
  		<input type="text"  id="busqueda_cancion" name="Bcancion" ng-model="eleccion" placeholder="¿Qué deseas escuchar?"/>
  		<input class="btn btn-default" type="button" value="Buscar" ng-click="BuscarCancion()" />
  		
  		</fieldset>
  		<br>
  		<div class="col-md-12 cent" ng-show=true>
  			
		    <table>
			<tr ng-repeat = "cancion in canciones">
				
				 <td>{{ cancion.Nombre_Cancion }}</td> 
			</tr>
			<tr ng-repeat = "album in albumes">
				
				 <td>{{ album.Nombre_Album }}</td> 
			</tr>
			</table>
  			
  		</div>
  		
  		
  		<h3 class="normalfont">Busqueda de Usuarios</h3>
  		<fieldset>
  				
  			<input type="text"  id="busqueda_usuario" name="Busuario" ng-model="name_ro_cod_user" placeholder="¿Buscas a alguien?"/>
  			<input class="btn btn-default" type="button" value="Buscar" ng-click="BuscarUsuario()" />
  		</fieldset>
  		<div class="col-md-12 cent">
  			
		    <table  class="tablesxD">
				<tr>
					<td>{{ Ubuscado.Nombre_completo }}</td>
				</tr> 
				<tr>
					<td>{{ Ubuscado.Correo_electronico }}</td>
				</tr> 
				
			</table>
			<fieldset>
  				<input class="btn btn-default" type="button" value="Saber más" ng-click="BuscarMasUsuario()"/>
  			</fieldset>
  		</div>
    </div>
    <!-- USUARIOS MAS ACTIVOS DE LOS ULTIMOS 6 MESES -->
    <div class="col-md-4 cent">
    	<h3 class="normalfont">Usuarios mas activos ultimos 6 meses</h3>
    	<table class="tablesxD">
			<tr ng-repeat = "usuario in top10">
				 <td>{{ usuario.Nombre_usuario }}</td>
			</tr>
		</table>
    </div>
  </div>
</div>

</div>

</body>