<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Prueva del sistema">
    <meta name="author" content="Froznar">
	
    <title>Hertzz Music</title>
	
	<script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script type="text/javascript">
         function HertzzController($scope,$http) {
             $http.get("usuario", {params:{usuario: window.location.search.replace("?","")}}).success( function(response) {
            	 $scope.usuario = response;
              });
             $scope.BuscarCancion = function(){
               if($scope.btipo == 1){
                 $http.get("canciones", {params: {cancion: $scope.eleccion}}).then( function(response) { //Funcion asincrona
                        console.log($scope.eleccion);
                    $scope.albumes = null;
                  $scope.canciones = response.data;
                      console.log($scope.canciones[0]);
                 });   
               }
               else{
                 $http.get("albumes", {params: {album: $scope.eleccion}}).then( function(response) { //Funcion asincrona
                      
                 $scope.albumes = response.data;
                 console.log($scope.albumes[0]);
                      $scope.canciones = null;
                 });
               }
             }
         }
    </script>
	
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	
	<!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">

	<link rel="stylesheet" href="fonts/stylesheet.css">
	<link rel="stylesheet" href="css/player.css">
	<link href="css/mb-comingsoon-iceberg.css" rel="stylesheet" />
	
	<!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
	<!-- jQuery and Modernizr-->
	<script src="js/jquery-2.1.1.js"></script>
	<script src="js/modernizr.custom.97074.js"></script>
	<script src="http://connect.soundcloud.com/sdk.js"></script>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="javascripts/player.js"></script>
    
</head>
<body>

<div class="container" ng-app="" ng-controller = "HertzzController" >
  <div class="row">
  	<div class="col-md-3 cent">
  		<img src="images/Hertzz.png" class="img-responsive" alt="Responsive image">
      <h4 class="titlefont">Hertzz Music</h4>
  	</div>
  	<div class="col-md-3 cent">
      <br>
      <br>
      <br>
  		<input class="btn btn-default" type="submit" value="Explorar" onclick = "location='/explorar.html'">
  	</div>
  	<div class="col-md-3 cent">
  		<h4 class="titlefont">Seguidores</h4>
  	</div>
  	<div class="col-md-3 cent">
      <br>
  		<h2 class="titlefont">{{ usuario.Nombre_usuario }}</h2>
  	</div>
  </div>
<div class="container">
  <div class="row">
    <!--REPRODUCTOR-->
    <div class="col-md-4">
      <h3>Reproductor</h3>
       	<div id="player" >
	       	<div id="player_artwork">
	            <a href="javascript:void(0);">
	                <img src="images/Transmissions-cover.jpg" class="img-responsive" alt="Responsive image">
	            </a>
	       	</div>
	       	<div id="player_track">
	            <div id="player_track_title">
	                <a href="">Track Title</a>
	            </div>
	            <div id="player_track_artist">
	                Artist
	            </div>
	       	</div>
	       	<div id="player_buttons">
	            <ul>
	                <li><a href="javascript:void(0);" id="player_prev"><span class="fa fa-backward"></span></a></li>
	                <li><a href="javascript:void(0);" id="player_play"><span class="fa fa-play"></span></a></li>
	                <li><a href="javascript:void(0);" id="player_next"><span class="fa fa-forward"></span></a></li>
	            </ul>
	       	</div>
    	</div>
    	<div>
			<h2>Audio MP3</h2>
			<audio id="sonido" src="Crystalised.mp3"></audio>
			<button onclick="javascript:document.getElementById('sonido').play();">Ejecutar</button>
			<button onclick="javascript:document.getElementById('sonido').pause();">Pausa</button>
		</div>
      
    </div>
    <div class="col-md-8 cent">
      <div class="row">
        <!--TOP 10-->
        <div class="col-md-12">
          <h3>Top 10</h3>
        </div>
        <!--BUSQUEDA-->
        <div class="col-md-6">
          <h3 class="normalfont">Busqueda de Musica</h3>
    
          <fieldset>
              <label class="radio-inline"><input type="radio" ng-model="btipo" name="optradio" ng-value="1"/>Canción</label>
              <label class="radio-inline"><input type="radio" ng-model="btipo" name="optradio" ng-value="2"/>Album</label>
          
              <input type="text"  id="busqueda_cancion" name="Bcancion" ng-model="eleccion" placeholder="¿Qué deseas escuchar?"/>
              <input class="btn btn-default" type="button" value="Submit" ng-click="BuscarCancion()" />
      
          </fieldset>
          <br>
          <div class="col-md-12 cent" ng-show=true>
            Resultados:
            <table>
              <tr ng-repeat = "cancion in canciones">
                
                 <td>{{ cancion.Nombre_Cancion }}</td> 
              </tr>
              <tr ng-repeat = "album in albumes">
                
                 <td>{{ album.Nombre_Album }}</td> 
              </tr>
            </table>
        
          </div>
        </div>
        <!--SEGUIDORES-->
        <div class="col-md-6">
          <h3>Seguidores</h3>
        </div>
        
      </div>
    </div>
  </div>
</div>
  	
  	
  	
</div>


</body>
</html>
</html>